[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
pandas = "*"
youtube_dl = "*"
spotipy = "*"

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.10"

[scripts]
backend = "python backend/manage.py runserver"
test = "pytest -vv"
